[ ca ]
default_ca = CA_default
[ CA_default ]
dir = ./ca
database = $dir/index.txt
serial = $dir/serial
new_certs_dir = $dir/newcerts
certificate = $dir/certs/ca.crt
private_key = $dir/private/ca.key
default_md = sha256
default_days = 365
policy = policy_any
crlnumber = $dir/crlnumber
crl_dir = $dir/crl
default_crl_days = 30
crl_extensions = crl_ext
[ policy_any ]
commonName = supplied
stateOrProvinceName = optional
countryName = optional
[ crl_ext ]
authorityKeyIdentifier = keyid:always
